/*  SE ESTABLECEN LAS VARIABLES   */
:root {

    /*    COLORES     */
    --principal: #A9BF5A;
    --secundario: #627583;
    --tercero: #E4DDD3;
    --blanco: #FFFFFF;
    --negro: #000000;

    /*    FUENTES     */
    --krub: 'krub', sans-serif;
    --mukta: 'Mukta', sans-serif;
    --opensans: 'Open Sans', sans-serif;
    --ptsans: 'PT Sans', sans-serif;
    --quicksand: 'Quicksand', sans-serif;
    --roboto: 'Roboto Condensed', sans-serif; /*utilizar esta principal*/
    --staarliches: 'Staatliches', cursive;
    --ubunto: 'Ubuntu', sans-serif;

}

/*   HEADER   */
.header {
    background-color: var(--principal);
}

.contenedor__header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ancla {
    margin-left: 5%;
    font-family: var(--roboto);
    font-size: 1.5rem;
    color: var(--blanco);
    font-weight: bold;
    text-decoration: none;
}

.ancla:hover {
    font-size: 1.6rem;
    transition: .3s;
}

i {
    margin-left: 5%;
    font-family: var(--roboto);
    font-size: 2rem;
    color: var(--blanco);
    font-weight: bold;
    text-decoration: none;
}

i:hover {
    font-size: 2.2rem;
    transition: .3s;
}